@import url(https://fonts.googleapis.com/css?family=Raleway);

html, body, h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif; }

.section-light-blue {
    background: #CCDDDD;
}

#banner_la {
    background: url('../../images/la_1.jpg') top center no-repeat;
    background-size: cover;
    height: 600px;
}

#banner_sf {
    background: url('../../images/sf.jpg') top center no-repeat;
    background-size: cover;
    height: 600px;
}

.jumbotron h1,
.jumbotron .h1 {
    color: white;
    text-align: center;
}

/*
.jumbotron h1, .jumbotron
.h1 {
    color: white;
    text-align: center;
}
*/

.navbar-brand #blog-title {
    margin-top: -15px;
}


/*.jumbotron h1 {
font-family: Florence, cursive
}

.navbar-brand {
font-family: Florence, cursive
}*/



